//colors
$red: red;
$crimson: crimson;
$color_gallery_approx: #eee;
$color_iron_approx: #cfd8dc;
$color_silver_chalice_approx: #aaa;
$color_suva_gray_approx: #888;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;
$font_3: Cambria;
$font_4: Georgia;

h2 {
	color: $red;
	font-family: $font_0, $font_1, $font_2;
	font-weight: lighter;
}
body {
	margin: 2em;
	color: $crimson;
	font-family: $font_3, $font_4;
}
input[text] {
	color: $crimson;
	font-family: $font_3, $font_4;
}
button {
	color: $crimson;
	font-family: $font_3, $font_4;
	&.clear {
		font-family: $font_0;
		background-color: $color_gallery_approx;
		border: none;
		padding: 5px 10px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px;
		cursor: pointer;
		cursor: hand;
		color: $color_suva_gray_approx;
		margin-bottom: 12px;
	}
	&:hover {
		background-color: $color_iron_approx;
	}
	&:disabled {
		background-color: $color_gallery_approx;
		color: $color_silver_chalice_approx;
		cursor: auto;
	}
}
