$color_1: #607D8B;
$color_2: #888;
$color_3: white;
$font_family_1: Arial;
$background_color_1: #EEE;
$background_color_2: #DDD;
$background_color_3: #607D8B;
$background_color_4: #eee;
$background_color_5: #cfd8dc;
$background_color_6: gray;

/* HeroesComponent's private CSS styles */
.heroes {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
	li {
		position: relative;
		cursor: pointer;
		background-color: $background_color_1;
		margin: .5em;
		padding: .3em 0;
		height: 1.6em;
		border-radius: 4px;
		&:hover {
			color: $color_1;
			background-color: $background_color_2;
			left: .1em;
		}
	}
	a {
		color: $color_2;
		text-decoration: none;
		position: relative;
		display: block;
		width: 250px;
		&:hover {
			color: $color_1;
		}
	}
	.badge {
		display: inline-block;
		font-size: small;
		color: $color_3;
		padding: 0.8em 0.7em 0 0.7em;
		background-color: $background_color_3;
		line-height: 1em;
		position: relative;
		left: -1px;
		top: -4px;
		height: 1.8em;
		min-width: 16px;
		text-align: right;
		margin-right: .8em;
		border-radius: 4px 0 0 4px;
	}
}
button {
	background-color: $background_color_4;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	font-family: $font_family_1;
	&:hover {
		background-color: $background_color_5;
	}
}
button.delete {
	position: relative;
	left: 194px;
	top: -32px;
	background-color: $background_color_6 !important;
	color: $color_3;
}
