//colors
$color_gallery_approx: #eee;
$color_smalt_blue_approx: #607d8b;
$color_alto_approx: #ddd;
$color_suva_gray_approx: #888;
$white: white;

.heroes {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
	li {
		position: relative;
		cursor: pointer;
		background-color: $color_gallery_approx;
		margin: .5em;
		padding: .3em 0;
		height: 1.6em;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px;
		&:hover {
			color: $color_smalt_blue_approx;
			background-color: $color_alto_approx;
			left: .1em;
		}
	}
	a {
		color: $color_suva_gray_approx;
		text-decoration: none;
		position: relative;
		display: block;
		width: 250px;
		&:hover {
			color: $color_smalt_blue_approx;
		}
	}
	.badge {
		display: inline-block;
		font-size: small;
		color: $white;
		padding: 0.8em 0.7em 0 0.7em;
		background-color: $color_smalt_blue_approx;
		line-height: 1em;
		position: relative;
		left: -1px;
		top: -4px;
		height: 1.8em;
		min-width: 16px;
		text-align: right;
		margin-right: .8em;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px 0 0 4px;
	}
}
